@import url('https://fonts.googleapis.com/css2?family=Gaegu&family=Gowun+Dodum&display=swap');
/* Header */
header {
    padding-top: 20px;
    padding-bottom: 20px;

    display: flex;
    align-items: center;
    border-bottom: 3px solid whitesmoke;
}

header > div {
    display: flex;
}

header .head_text {
    width: 50%;

    font-family: "Gaegu", serif;
    font-size: 30px;
    font-weight: bold;

    justify-content: center;
}

header .left_head {
    width: 25%;

    justify-content: start;
}

header .right_head {
    width: 25%;

    justify-content: end;
}

/* Body */
body {
    background-color: ghostwhite;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Gowun Dodum", serif;

    min-height: 100vh;
    margin: 0px;
}

@media (min-width: 650px) {
    .App {
        width: 640px;
    }
}

@media (max-width: 650px) {
    .App {
        width: 90vw;
    }
}

#root {
    background-color: white;
    box-shadow: rgba(100, 100, 110, 0.2) 0px 7px 29px 0px;
}

.App {
    min-height: 100vh;


    padding-left: 20px;
    padding-right: 20px;

}

/* Hamburger button */
.HamburgerButton {
    width: 35px;
    height: 25px;

    position: relative;
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    cursor: pointer;
    z-index: 2;
}

.HamburgerButton div {
    width: 100%;
    height: 4px;
    background-color: #333;
    border-radius: 2px;
    transition: 0.4s;
    position: relative;
}

.HamburgerButton .bread {
    background-color: orange;
}

.HamburgerButton .patty {
    background-color: red;
}

.HamburgerButton.active div:nth-child(1) {
    top: 10px;
    transform: rotate(-45deg);
}

.HamburgerButton.active div:nth-child(2) {
    opacity: 0;
}

.HamburgerButton.active div:nth-child(3) {
    top: -10px;
    transform: rotate(45deg);
}

/* Side bar */

.Sidebar {
    position: fixed;
    width: 300px;
    top: 0;


    height: 100%;
    background-color: whitesmoke;
    overflow-x: hidden;
    transition: 0.5s;
    color: black;
    padding-top: 60px;
    z-index: 1;
}

/* NavigateBar */
.NavigateBar {
    background-color: whitesmoke;
    border-bottom: 3px solid white;
}

.NavigateButton {
    background: none;
    border: none;
    font-family: "Gowun Dodum", serif;

    font-weight: bold;
    color: inherit;
    font-size: inherit;
    cursor: pointer;
    padding: 10px;
    outline: none;
    transition: color 0.3s;

}

.NavigateBar:hover {
    color: azure;
}

/* CustomButton */
.CustomButton {
    cursor: pointer;
    border: none;
    border-radius: 5px;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;

    font-size: 20px;

    white-space: nowrap;
    font-family: "Gaegu", serif;
}

.CustomButton_back {
    background: none;
    font-size: 20px;
    font-weight: bold;
}

.CustomButton_save {
    background-color: palegreen;
}

.CustomButton_find {
    background-color: palegreen;
}

.CustomButton_meal {
    border-radius: 50%;

    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;

}
.CustomButton_meal.on {
    background-color: pink;
}

/* DiaryEditor */
.DiaryEditor .DiaryTitle {
    width: 100%;
    box-sizing: border-box;
    margin-top: 20px;

    padding: 10px;
    border: 2px solid ghostwhite;
    font-size: 20px;
    font-family: "Gowun Dodum", serif;
    font-weight: bold;
}

.DiaryEditor .RestaurantName {
    width: 85%;
    box-sizing: border-box;
    margin-top: 20px;

    padding: 10px;
    border: 2px solid ghostwhite;
    font-size: 20px;
    font-family: "Gowun Dodum", serif;
}
.DiaryEditor .DiaryDate {
    width: 70%;
    box-sizing: border-box;
    margin-top: 20px;

    padding: 10px;
    border: 2px solid ghostwhite;
    font-family: "Gowun Dodum", serif;
    font-size: 20px;
    font-weight: bold;
}

.DiaryEditor .DiaryContent {
    font-family: "Gowun Dodum", serif;
    font-size: 20px;

    margin-top: 10px;
    box-sizing: border-box;
    width: 100%;
    min-height: 300px;
    resize: vertical;

    border: 2px solid ghostwhite;
    border-radius: 5px;
    padding: 20px;
}
.evaluation_list_wrapper {
    border: 2px solid black;

    display: grid;
    grid-template-columns: repeat(5, minmax(100px, 1fr));
    gap: 2%;
}

.DiaryEditor .meal_box {
    margin-top: 20px;

    border: 2px solid black;

    width: 30%;
    display: grid;
    grid-template-columns: repeat(3, minmax(1px, 1fr));
    gap: 2%;
}

.FindRestaurant {
    display: flex;
}

.FindRestaurantButton {
    width: 15%;

    margin-top: 20px;
    display: flex;
    justify-content: center;

}

.MealDate {
    display: flex;
}

.MealTime {
    display: flex;
}


/* EvaluationItem */
.EvaluationItem {
    cursor: pointer;

    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.EvaluationItem img {
    width: 50px;
    margin-bottom: 10px;
}

.EvaluationItem span {
    font-size: 18px;
}

.EvaluationItem_off {
    background-color: #ececec;
}

.EvaluationItem_on_1 {
    background-color: #64c964;
    color: white;
}

.EvaluationItem_on_2 {
    background-color: #9dd772;
    color: white;
}

.EvaluationItem_on_3 {
    background-color: #fdce17;
    color: white;
}

.EvaluationItem_on_4 {
    background-color: #fd8446;
    color: white;
}

.EvaluationItem_on_5 {
    background-color: #fd565f;
    color: white;
}

.MealItem {
    cursor: pointer;

    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.MealItem img {
    width: 50px;
}
.MealItem span {
    font-size: 15px;
}

.MealItem_on_1 {
    font-weight: bold;
    background-color: orange;
    color: black;
}

.MealItem_on_2 {
    font-weight: bold;
    background-color: yellow;
    color: black;
}

.MealItem_on_3 {
    font-weight: bold;
    background-color: blueviolet;
    color: white;
}

/* DiaryItem */
.DiaryItem {
    border: 1px solid darkgrey;
    cursor: pointer;

    padding: 10px;
    margin-top : 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 10px;
    position: relative;

    font-weight: bold;
}


.RestaurantName,
.DiaryTitle,
.EatDate {
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

.EatDateAndEvaluation {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 100%;
}

.EvaluationByMainPage, .EvaluationByMainPage * {
    margin: 0;
    padding: 0;
}

.EvaluationByMainPage span {
    font-size: 12px;
}